---
import Layout from "../layouts/Layout.astro";

// Import database
import { db, Comment } from "astro:db";

const comments = await db.select().from(Comment);
---

<Layout title="Welcome to Astro.">
  <h2>Comments</h2>

  {
    comments.map(({ authorId, content }) => (
      <article>
        <p>Author: {authorId}</p>
        <p>{content}</p>
        <hr />
      </article>
    ))
  }
</Layout>
